<div class="hero">
    <div class="wrapper">
        <div class="hero-image"></div>
        <div class="hero-content">
            <h1 class="hero-heading">
                Plan your time with FocusTime
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh.</p>
            <a class="btn btn-primary" href="/buy/">Buy</a>
            <a class="btn btn-secondary downloadFree" download>Try Free</a>
        </div>
    </div>
</div>
