<div class="hero">
    <div class="wrapper">
        <div class="hero-image">
            <img src='{{ "/images/sections/Hero_2x.png" | relURL }}' alt="FocusBit">
        </div>
        <div class="hero-content">
            <h1 class="hero-heading">
                Achieve your goals with FocusBit
            </h1>
            <p>Commit to doing only one task during chosen interval of time and discover the magic of getting things done</p>
            <a class="btn btn-primary" href="/download/">Try for free</a>
            <a class="btn btn-secondary downloadFree" href="/buy/">Buy</a>
        </div>
    </div>
</div>
