<!-- Section One -->
<div class="section" id="section-one">
    <div class="wrapper">
        <div class="section-content">
            <h1>Write down your task and start timer</h1>
            <p>By picking one task and starting a timer you do the mental commitment to work on it. During the time interval FocusBit sends you reminders that help you to stay on track.</p>
        </div>
        <div class="section-image">
            <img src='{{ "/images/sections/Timer_2x.png" | relURL }}' alt="FocusBit">
        </div>
    </div>
</div>
<!-- Section One -->

<div class="section" id="section-two">
    <div class="wrapper">
        <div class="section-image">
            <img src='{{ "/images/sections/Notification_2x.png" | relURL }}' alt="FocusBit">
        </div>
        <div class="section-content">
            <h1>Keep track of time</h1>
            <p>FocusBit can notify you about the progress during the time interval using notifications, progress bar and tray icon. It helps to keep you on track of doing the task.</p>
        </div>
    </div>
</div>

<div class="section" id="section-three">
    <div class="wrapper">
        <div class="section-content">
            <h1>See what you already done</h1>
            <p>Need to remember what you did yesterday or during last week? FocusBit can help you by showing each task and the time you spent on it.</p>
        </div>
        <div class="section-image">
            <img src='{{ "/images/sections/Done List_2x.png" | relURL }}' alt="FocusBit">
        </div>
    </div>
</div>

<div class="section" id="section-four">
    <div class="wrapper">
        <div class="section-image">
            <img src='{{ "/images/sections/To Do List_2x.png" | relURL }}' alt="FocusBit">
        </div>
        <div class="section-content">
            <h1>Plan your tasks in advance</h1>
            <p>Got an interesting idea or just planning your day? Add TODO tasks in FocusBit and let it help you to accomplish them. FocusBit will remind you about planned items throughout the day.</p>
        </div>
    </div>
</div>

