<!-- Section One -->
<div class="section" id="section-one">
    <div class="wrapper">
        <div class="section-content">
            <h1>Estimate your time and fill in</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
        <div class="section-image"></div>
    </div>
</div>
<!-- Section One -->

<!-- Section Two -->
<div class="section" id="section-two">
    <div class="wrapper">
        <div class="section-image"></div>
        <div class="section-content">
            <h1>Create your task list in advance</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>

    </div>
</div>
<!-- Section Two -->

<!-- Section Three -->
<div class="section" id="section-three">
    <div class="wrapper">
        <div class="section-content">
            <h1>See what you already done</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
        <div class="section-image"></div>
    </div>
</div>
<!-- Section Three -->

