<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
  {{- partial "site-head.html" . -}}
</head>
<body class='{{block "body_class" . }}{{ end }}'>
    {{- $.Scratch.Set "free_download"       $.Params.free_download -}}
    {{- $.Scratch.Set "free_download_class" $.Params.free_download_class -}}
    {{- $.Scratch.Set "support"       $.Params.support -}}
    {{- $.Scratch.Set "paddle"       $.Params.paddle -}}
    <main class="wrap">
        {{- partial "site-navigation.html" . -}}
        <div class="main-content">
            {{block "main" . }}{{ end }}
        </div>
        {{- partial "free-download" . -}}
    </main>
    {{- partial "contact-support" . -}}
    {{- partial "site-footer.html" . -}}
    {{- partial "site-scripts.html" .  -}}
</body>
</html>

