html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

.wrap {
    flex: 1;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #001224;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
}

@media screen and (max-width:375px) {
    h1 {
        font-size: 26px;
        line-height: 31px;
        font-weight: bold;
    }
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0px 16px;
    }
}

.btn {
    /* display: -webkit-inline-box;
    display: -ms-inline-flexbox; */
    display: inline-block;
    text-align: center;
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; */
    width: 160px;
    height: 52px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 52px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    background: transparent;
}

/*
@media screen and (max-width:480px) {
    .btn {
        width: 130px;
    }
}
*/

.btn-primary {
    line-height: 52px;
    background: #008BFF;
    color: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 139, 255, 0.26);
    box-shadow: 0 0 5px 0 rgba(0, 139, 255, 0.26);
}

.btn-primary:hover {
    background: #0266AD;
    color: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 139, 255, 0.26);
    box-shadow: 0 0 5px 0 rgba(0, 139, 255, 0.26);
}

.btn-secondary {
    line-height: 50px;
    position: relative;
    top: 1px;
    color: #001224;
    border: 2px solid #001224;
}

.btn-secondary:hover {
    color: #0266AD;
    border-color: #0266AD;
    background: rgba(2, 102, 173, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.header-wrap {
    background-color: #EAF6FC;
    border-bottom: 1px solid #CCE1ED;
}

.header {
    max-width: 1020px;
    margin: 0 auto;
}

.header .logo {
    display: block;
    height: 70px;
}

.header .logo img {
    height: 100%;
}

.top-bar {}

.top-bar,
.top-bar ul {
    background-color: #EAF6FC;
}

.title-bar.header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header .menu {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.top-bar ul li a {
    color: #001224;
    font-weight: bold;
}

.top-bar ul li a:hover {
    color: #0266AD;
}

.top-bar ul li.active-item a {
    color: #616161;
}

.top-bar ul li.highlight-item a {
    color: #008BFF;
}

.top-bar ul li.highlight-item a:hover {
    color: #0266AD;
}

.menu-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #0266AD;
    -webkit-box-shadow: 0 7px 0 #0266AD, 0 14px 0 #0266AD;
    box-shadow: 0 7px 0 #0266AD, 0 14px 0 #0266AD;
    content: '';
}

.menu-icon:hover::after {
    background: #0266AD;
    -webkit-box-shadow: 0 7px 0 #0266AD, 0 14px 0 #0266AD;
    box-shadow: 0 7px 0 #0266AD, 0 14px 0 #0266AD;
}

@media screen and (max-width: 640px) {
    .title-bar {
        background-color: #EAF6FC;
    }
    .top-bar,
    .top-bar ul {
        background-color: #0266AD;
    }
    .header .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        /* height: 100vh; */
    }
    .top-bar .logo {
        display: none;
    }
    .top-bar ul li {
        margin-bottom: 40px;
    }
    .top-bar ul li:nth-of-type(1) {
        margin-top: 40px;
    }
    .top-bar ul li a {
        color: #fff;
    }
}

header .nav-item {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #001224;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

header .nav-item:nth-of-type(3) {
    color: #008BFF;
}

header .nav-item:not(:last-child) {
    margin-right: 60px;
}

@media screen and (max-width:768px) {
    header .nav-item:not(:last-child) {
        margin-right: 30px;
    }
}

header .nav-item:hover {
    color: #0266AD;
}


.hero {
    height: auto;
    background-color: #EAF6FC;
}

.hero .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    height: 600px;
}

@media screen and (max-width:991px) {
    .hero .wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
        height: 100%;
    }
    .hero .wrapper>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .hero .wrapper>*:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
}

.hero-image {
    height: 600px;
    background-color: #CCE1ED;
}

@media screen and (max-width:768px) {
    .hero-image {
        height: 320px;
        background-color: #CCE1ED;
    }
}

.hero-content {
    padding-top: 120px;
    justify-self: flex-end;
}

@media screen and (max-width:991px) {
    .hero-content {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        justify-self: flex-start;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:768px) {
    .hero-content {
        padding-top: 40px;
    }
}

.hero-content p {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero-content .btn-secondary {
    margin-left: 40px;
    justify-self: flex-end;
}

@media screen and (max-width:375px) {
    .hero-content .btn-secondary {
        margin-left: auto;
        float: right;
    }
}

.hero-heading {
    font-size: 46px;
    font-weight: bold;
    letter-spacing: -0.8px;
    line-height: 55px;
    max-width: 360px;
    margin-bottom: 20px;
}

@media screen and (max-width:375px) {
    .hero-heading {
        font-size: 26px;
        line-height: 31px;
    }
    .hero-content p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 30px;
    }
}

.features {
    padding: 100px 0;
}

@media screen and (max-width:480px) {
    .features {
        padding: 40px 0;
    }
}

.features .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60px 1fr 60px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
}

@media screen and (max-width:480px) {
    .features .wrapper {
        grid-column-gap: initial;
        -ms-grid-columns: 60px initial 60px initial 60px;
        grid-template-columns: repeat(3, 60px);
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

@media screen and (max-width:375px) {
    .features .wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.features .feature-item {
    text-align: center;
}

.feature-item img {
    display: block;
    height: 60px;
    width: 60px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

@media screen and (max-width:480px) {
    .feature-item img {
        margin-bottom: 20px;
    }
}

.feature-item h3,
.feature-item span {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    max-width: 180px;
    margin: 0 auto;
}

.feature-item span {
    display: none;
}

@media screen and (max-width:480px) {
    //.feature-item:nth-of-type(3) h3 {
    //    display: none;
    //}
    .feature-item span,
    .feature-item h3 {
        display: block;
        font-size: 10px;
        margin-bottom: 0;
    }
}

.feature-item p {
    margin: 0 auto;
    max-width: 180px;
    font-size: 14px;
    line-height: 22px;
}

@media screen and (max-width:480px) {
    .feature-item p {
        display: none;
    }
}

