.downloads {
    margin: 30px 30px 0px 80px;

    @media screen and (min-width: 768px) {
        padding: 30px;
        margin: 30px 80px 0px 80px;
    }
}

.whatsnew-content {
    font-size: 14px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 150px;

    @media screen and (min-width: 64.063em) {
        font-size: 16px;
        padding-left: 50px;
        h3 {
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.tab-download-content {
    max-width: 850px;
    //text-align: center;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    &.active-tab {
        display: block;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 0px;
    }
    @media screen and (min-width: 64.063em) {
        font-size: 16px;
        padding-left: 50px;
        h2 {
            font-size: $font-size-h1;
            margin-top: 20px;
        }
    }
}

.section-platforms {
    text-align: center;
}

.tabs-os-buttons-wrapper {
    position: relative;
    overflow: hidden;

    .download-button-wrap {
        max-width: 155px;
        display: inline-block;
        font-size: 24px;

        @media screen and (min-width: 64.063em) {
            margin-top: 20px;
        }
    }

    .download-button {
        margin-top: 35px;
    }
}

.whatsnew-content {
    .getting-started-tab {
        font-size: 16px;
        display: none;

        &.active-tab {
            display: inline-block;
        }
    }
    .tabs-os-button {
        font-size: 16px;

        &.active-tab {
            display: none;
        }
        img {
            max-height: 300px;
            width: auto;
            margin: 0 auto 30px;
            display: block;
        }
    }
}
