.hero {
    height: auto;
    background-color: #EAF6FC;
}

.hero .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    height: 600px;
}

@media screen and (max-width:991px) {
    .hero .wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
        height: 100%;
    }
    .hero .wrapper>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .hero .wrapper>*:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
}

.hero-image {
    height: 600px;
    //background-color: #CCE1ED;
    img {
        margin: auto;
    }
}

@media screen and (max-width:768px) {
    .hero-image {
        height: 320px;
        background-color: #CCE1ED;
    }
}

.hero-content {
    padding-top: 120px;
    justify-self: flex-end;
}

@media screen and (max-width:991px) {
    .hero-content {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        justify-self: flex-start;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:768px) {
    .hero-content {
        padding-top: 40px;
    }
}

.hero-content p {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero-content .btn-secondary {
    margin-left: 40px;
    justify-self: flex-end;
}

@media screen and (max-width:375px) {
    .hero-content .btn-secondary {
        margin-left: auto;
        float: right;
    }
}

.hero-heading {
    font-size: 46px;
    font-weight: bold;
    letter-spacing: -0.8px;
    line-height: 55px;
    max-width: 360px;
    margin-bottom: 20px;
}

@media screen and (max-width:375px) {
    .hero-heading {
        font-size: 26px;
        line-height: 31px;
    }
    .hero-content p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 30px;
    }
}

