.support-page-header {
    padding: 50px 0;
    /*background: /*url('../images/bg-grey.png') no-repeat center center / cover;*/
    text-align: center;

    h1 {
        margin: 20px 0;
        font-size: 20px;
        font-weight: bold;
        @media screen and (min-width: 64.063em) {
            font-size: $font-size-h1;
        }
    }

    .small-12 {
        padding-left: 15px;
        padding-right: 15px;
    }

    p {
        color: $support-color;
    }

    .page-header-logo {
        max-width: 96px;
        height: auto;
    }
}

.support-title {
    margin-left: auto;
    margin-right: auto;
}

.section-contact-support {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: $light-blue-color;
}

.support-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.decorrated {
    .upped {
        display: none;
    }
}

.decorrated:after {
    content: attr(data-n) "@" attr(data-d) "." attr(data-t); 
}

#avatar {
    background-image: url('/images/168.jpg');

    /* make a square container */
    width: 150px;
    height: 150px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 5px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 0 5px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.1);
    box-shadow: 0 0 0 5px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.1);

    float: left;
    margin-right: 45px;
    margin-bottom: 25px;
}
