//Font
$font-size-h1: 36px;
$font-size-h1-small: 24px;
$primary-text-color: #30333B;

$light-blue-color: #eaf6fc;
$blue-color: #008bff;
$dark-blue-color: #1068ab;
$primary-active-color: #008bff;
$secondary-active-color: #eeeeee;
$secondary-text-color: #616161;

$btn-bg-hover-color: $dark-blue-color;
$btn-bg-color: $blue-color;
$font-size-h1: 26px;
