<div class="product-faq">
    <div class="grid-container">
        <div class="grid-x grid-margin-x small-up-1 medium-up-1 large-up-2">
            <div class="cell small-4">
                <h3>Is there a subscription?</h3>
                <p>No, there is no subscription or recurring charge. You are only charged a one-time fee to use the product.</p>
            </div>
            <div class="cell small-4">
                <h3>Is my data private?</h3>
                <p>FocusBit does not collect any private data or telemetry. You don't need to register an online account. You can read more about privacy <a href="/privacy/">here</a>.</p>
            </div>
            <div class="cell small-4">
                <h3>How long will I receive updates?</h3>
                <p>We offer 1 year of bug fixes and feature updates for older versions of FocusBit and lifetime support for the latest official version.</p>
            </div>
            <div class="cell small-4">
                <h3>Do you offer any guarantees?</h3>
                <p>We guarantee that you will achieve more using FocusBit. If you are not satisfied for any reason feel free to contact <a href="/support/">support</a>.</p>
            </div>
        </div>
    </div>
</div>
