{{- if ($.Scratch.Get "free_download")  -}}
<div class="cta-section">
    <div class="wrapper">
        <div class="component-buy">
            <img src="images/Icon@3x.png" alt="logo icon">
            <div class="component-buy-content">
                <h2>FocusTime - work simple</h2>
                <p>Available for macOS, Windows and Linux</p>
            </div>
        </div>

        <div class="buttonGroup">
            <a class="btn btn-primary">Buy</a>
            <a class="btn btn-secondary downloadFree" download>Try Free</a>
        </div>
    </div>
</div>
{{ end }}
