{{- if ($.Scratch.Get "free_download")  -}}
{{- $cls := $.Scratch.Get "free_download_class"  -}}
<div class="cta-section {{$cls}}">
    <div class="wrapper">
        <div class="component-buy">
            <img src="/images/Icon@3x.png" alt="logo icon">
            <div class="component-buy-content">
                <h2>FocusBit - achieve more</h2>
                <p>Available for macOS, Windows and Linux</p>
            </div>
        </div>

        <div class="buttonGroup">
            <a class="btn btn-primary" href="/download/">Try for free</a>
            <a class="btn btn-secondary" href="/buy/">Buy</a>
        </div>
    </div>
</div>
{{ end }}
