<footer class="site-footer">
    <div class="grid-x foowrapper">
        <div class="small-6 cell">
            <nav class="footer-nav">
                <ul>
                    {{- range $item := $.Site.Data.navFooter }}
                    <li {{if hasPrefix $.Permalink (absURL $item.href) -}} class="active" {{ end }}>
                        {{- if or ( hasPrefix $item.href  "http://" ) (hasPrefix $item.href "https://" ) -}}
                        <a href="{{$item.href}}">{{$item.title}}</a>
                        {{- else -}}
                        <a href="{{$item.href | relURL}}">{{$item.title}}</a>
                        {{- end -}}
                    </li>
                    {{- end}}
                </ul>
            </nav>
        </div>
        <div class="cell auto">&nbsp;</div>
        <div class="small-3 cell">
            <span class="darkgray">&copy; 2018-{{ dateFormat "2006" now  }} Taras Kushnir</span>
        </div>
    </div>
</footer>
