{{- $title := $.Site.Title -}}
{{- $about :=  $.Site.Params.description -}}
{{- if $.Title   -}} {{- $title = $.Title -}} {{- end -}}
{{- if $.Content -}}
  {{- $about = ($.Content | plainify | htmlUnescape ) -}}
  {{- $about = (replaceRE "(?m)(\\r|\\n)" " " $about) -}}
  {{- $about = (replaceRE " +"    " " $about) -}}
  {{- $about = (replaceRE "^ +"  ""  $about) -}}
  {{- $about = (replaceRE " +$"  ""  $about) -}}
  {{- $about = (truncate 160  ""  $about) -}}
{{- end -}}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="{{$about}}" />
<title>Focus Bit</title>
<link rel="shortcut icon" type="image/png" href='{{"favicon.png?v=1" | relURL }}'>
<link rel="stylesheet" href="/css/foundation.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{{$style1 := resources.Get "css/main.scss"   | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
<link rel="stylesheet" media="screen, projection" href="{{ $style1.RelPermalink }}" type="text/css">
<meta property="og:title" content="{{$title}}" />
<meta property="og:locale" content="{{ $.Site.LanguageCode | default "en" }}" />
<meta property="og:description" content="{{$about}}" />
<meta property="og:url" content="{{$.Permalink}}" />
<meta property="og:site_name" content="FocusBit" />
{{ partial "google_analytics" . }}
