<div class="downloads">
    <div data-os="mac" class="tab-download-content tabs-os-buttons-wrapper">
        <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
            <div class="cell small-4 tabs-os-button">
                <div class="download-button-wrap">
                    <div class="icon"><img src='/images/Icon@3x.png' alt="FocusBit"></div>
                </div>
            </div>
            <div class="cell auto">
                <h2>FocusBit for macOS</h2>
                <p>Free 14-day trial. Buy for $4.99. <a href="{{ "/licensing/" | relURL }}">Learn more</a></p>
                <div class="download-button">
                    <a class="btn btn-primary" href="https://focusbit-releases.s3.amazonaws.com/21-11-2019/FocusBit-v1.0.0.dmg">Download</a>
                </div>
            </div>
        </div>
    </div>
    <div data-os="windows" class="tab-download-content tabs-os-buttons-wrapper">
        <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
            <div class="cell small-4 tabs-os-button">
                <div class="download-button-wrap">
                    <div class="icon"><img src='/images/Icon@3x.png' alt="FocusBit"></div>
                </div>
            </div>
            <div class="cell auto">
                <h2>FocusBit for Windows</h2>
                <p>Free 14-day trial. Buy for $4.99. <a href="{{ "/licensing/" | relURL }}">Learn more</a></p>
                <div class="download-button">
                    <a class="btn btn-primary" href="https://focusbit-releases.s3.amazonaws.com/21-11-2019/FocusBit-v1.0.0.zip">Download</a>
                </div>
            </div>
        </div>
    </div>
    <div data-os="linux" class="tab-download-content tabs-os-buttons-wrapper">
        <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
            <div class="cell small-4 tabs-os-button">
                <div class="download-button-wrap">
                    <div class="icon"><img src='/images/Icon@3x.png' alt="FocusBit"></div>
                </div>
            </div>
            <div class="cell auto">
                <h2>FocusBit for Linux</h2>
                <p>Free 14-day trial. Buy for $4.99. <a href="{{ "/licensing/" | relURL }}">Learn more</a></p>
                <div class="download-button">
                    <a class="btn btn-primary" href="https://focusbit-releases.s3.amazonaws.com/21-11-2019/FocusBit-v1.0.0-x86_64.AppImage">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
