<div class="whatsnew-content">
    <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
        <div class="cell auto">
            <h3>What's new:</h3>
            <ul>
                <li>Done list to track past work</li>
                <li>Notifications in tray and taskbar</li>
                <li>Ability to scroll in timer setup fields</li>
                <li>Context menu to manage todo tasks</li>
                <li>Animate tray icon during the work interval</li>
            </ul>
        </div>
        <div class="cell shrink">
            <h3>Other downloads:</h3>
            <div><a class="tabs-os-button" data-os="windows">FocusBit for Windows</a></div>
            <div><a class="tabs-os-button" data-os="mac">FocusBit for macOS</a></div>
            <div><a class="tabs-os-button" data-os="linux">FocusBit for Linux</a></div>
        </div>
    </div>
</div>
